@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;800&family=Righteous&display=swap');

@media (max-width: 800px) {
    main.container {
        grid-template-columns: 1fr;
    }

    div.social-info {
        border-left: 0;
        border-top: 2px solid #ffffff30;
    }
}

@media (max-width: 540px) {
    div.personal-info .box .flex {
        flex-direction: column;
        gap: 1rem;
    }

    div.personal-info h1 {
        font-size: 24px;
        text-align: center;
    }

    div.personal-info p {
        text-align: center;
    }
}

@media (max-width: 382px) {
    .social-info a.flex {
        justify-content: center;
    }

    .social-info a.flex .arrow-icon {
        display: none;
    }

    .social-info a.flex>div {
        flex-direction: column;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #6a146d 0%, #0e0736 100%);
}

.container {
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personal-info {
    padding: 2rem;
}

.personal-info img {
    max-width: 100px;
}

.personal-info h1 {
    font: 700 48px Righteous;
    letter-spacing: .25rem;
    color: #eee;
}

.personal-info p {
    margin-top: 1rem;
    font: 400 18px Heebo;
    color: #ddd;
}

.personal-info p::before {
    margin-bottom: 1rem;
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #ffffff10;
}

.social-info {
    border-left: 2px solid #ffffff30;
    padding: 2rem;
}

.social-info a.box {
    padding: 1rem;
    font: 700 16px Heebo;
    text-decoration: none;
    color: #e0e0e0;
    transition: 0.5s;
}

.social-info a.box:hover {
    background: #ffffff40;
    transform: translateX(1rem);
}

.social-info a.box .flex {
    gap: .5rem;
}

.social-info a.box .arrow-icon {
    width: 20px;
}

.box {
    background: #ffffff20;
    backdrop-filter: blur(6px);
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.main-center {
    justify-content: center;
}

.main-between {
    justify-content: space-between;
}

.cross-center {
    align-items: center;
}